html {
  height: 100%;
  font-size: 16px;
}

// fonts

@font-face {
  font-family: "audifont";
  src: url("../assets/fonts/auditype-normal.woff") format('woff');
}

@font-face {
  font-family: "audifont";
  src: url("../assets/fonts/auditype-bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "audifont-extended";
  src: url("../assets/fonts/auditype-extendednormal.woff") format('woff');
}

@font-face {
  font-family: "audifont-extended";
  src: url("../assets/fonts/auditype-extendedbold.woff") format('woff');
  font-weight: bold;
}

// colors

$base-grey: #999;
$dark-grey: #616161;
$base-red: #e92E40;