.second-block__wrapper {
  margin-bottom: 1rem;
  padding: 3rem 0 4rem 3rem;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 800px) {
    padding: 0;
    justify-content: center;
  }
}

.second-block__content-container {
  width: 100rem;
  display: flex;
  &__left {
    flex: 1;
    padding: 1rem;
  }
  &__right {
    position: relative;
    flex: 2;
    padding: 5rem 1rem;
    background: url('./../assets/images/audi_back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    box-shadow: inset 0 0 0 1000px rgba(222,40,58,.88);
  }
  @media (max-width: 1300px) {
    flex-direction: column;
    &__left {
      padding-right: 2rem;
    }
  }
  @media (max-width: 800px) {
    max-width: 100%;
  }
}

// ------------------- left part of the second block -----------------------

.second-block-left__title {
  margin: 0;
  font-family: audifont;
  font-size: 0.9rem;
  color: $dark-grey;
  @media (max-width: 1300px) {
    color: #000;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
  @media (max-width: 800px) {
    font-size: 1.2rem;
  }
}

.second-block-left__article {
  margin: 1.5rem 0 0 0;
  font-family: audifont;
  font-size: 1.2rem;
  color: $dark-grey;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.second-block-left__inputs-container {
  width: 24rem;
  margin: 2rem auto 0 auto;
  @media (max-width: 1300px) {
    width: 100%;
  }
}

.input-placeholder {
  display: flex;
  position: relative;
  width: 24rem;
  margin: auto;
  @media (max-width: 1300px) {
    width: 100%;
  }
}

.second-block-left__input {
  height: 3.2rem;
  width: 22rem;
  font-size: 0.9rem;
  font-family: audifont;
  display: block;
  margin: 0 auto 1rem auto;
  padding-left: 2rem;
  padding-right: 1rem;
  border: none;
  background: #F3F6FD;
  border-radius: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @media (max-width: 1300px) {
    width: 100%;
  }
  @media (max-width: 800px) {
    height: 2.8rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}

.placeholder-element {
  font-size: 0.9rem;
  font-family: audifont;
  color: $dark-grey;
  position: absolute;
  top: 0.2rem;
  left: 2rem;
  span {
    color: $base-red;
  }
  @media (max-width: 800px) {
    top: 0.1rem;
    font-size: 0.8rem;
  }
}

.second-block-left__radio-buttons-container {
  width: 24rem;
  margin: auto;
  label {
    font-size: 0.8rem;
    font-family: audifont;
    color: $dark-grey;
    margin-right: 0.8rem;
  }
  @media (max-width: 1300px) {
    margin: 0
  }
  @media (max-width: 800px) {
    max-width: 18rem;
  }
}

.second-block-left__contact-button {
  height: 3.4rem;
  width: 14rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 8rem;
  background: #000;
  color: #fff;
  font-family: audifont;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.87);
  }
  @media (max-width: 800px) {
    height: 2.8rem;
    width: 12rem;
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }
}

// ------------------- right part of the second block -----------------------

.second-block-right__title {
  margin-left: 3rem;
  p {
    margin: 0;
    color: #fff;
    font-family: audifont;
    font-weight: bold;
    font-size: 2.4rem;
  }
  @media (max-width: 800px) {
    margin-left: 0;
    p {
      font-size: 1.7rem;
    }
  }
}

.second-block-right__flex-container-first {
  display: flex;
  max-width: 52rem;
  margin: 3rem 0 0 3rem;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.second-block-right__input-container {
  width: 50%;
  position: relative;
  padding-right: 1rem;
  &__input {
    height: 3.2rem;
    max-width: 100%;
    margin: 0 auto 1.5rem auto;
    background: #F3F6FD;
    border-radius: 24px;
  }
  @media (max-width: 1300px) {
    width: 100%;
    padding-right: 0;
    &__input {
      margin-right: 1rem;
    }
  }
  @media (max-width: 800px) {
    &__input {
      height: 2.8rem;
    }
  }
}

.second-block-right__calendar-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .divider {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1.8rem;
    color: #fff;
    font-size: 2rem;
  }
  @media (max-width: 1300px) {
    width: 100%;
    .divider {
      width: 3rem;
    }
  }
}

.second-block-right__calendar-input {
  width: 11rem;
  padding-right: 1rem;
  position: relative;
  &__input-field {
    height: 3.2rem;
    max-width: 100%;
    margin: 0 auto 1.5rem auto;
    background: #F3F6FD;
    border-radius: 24px;
  }
  @media (max-width: 1300px) {
    width: 100%;
  }
  @media (max-width: 800px) {
    &__input-field {
      height: 2.8rem;
    }
  }
}

.placeholder-right {
  left: 1.5rem;
}

.second-block-right__flex-container-second {
  display: flex;
  max-width: 52rem;
  margin-left: 3rem;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.second-block-right__flex-container-third {
  display: flex;
  max-width: 52rem;
  margin-left: 3rem;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.second-block-right__flex-container-fourth {
  display: flex;
  max-width: 52rem;
  margin-left: 3rem;
  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.second-block-right__input-container-full {
  width: 100%;
  position: relative;
  padding-right: 1rem;
  &__input {
    height: 3.2rem;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    background: #F3F6FD;
    border-radius: 24px;
    margin-bottom: 1.5rem;
  }
  @media (max-width: 1300px) {
    padding-right: 0;
    &__input {
      margin-right: 1rem;
    }
  }
  @media (max-width: 800px) {
    &__input {
      height: 2.8rem;
    }
  }
}

.second-block__search-message {
  display: flex;
  max-width: 52rem;
  margin-left: 4rem;
  p {
    margin-top: 0;
    color: #fff;
    font-family: audifont;
    font-size: 0.9rem;
  }
  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.second-block-right__contact-button {
  height: 3.4rem;
  width: 14rem;
  margin: 2.5rem 0 0 4rem;
  border: none;
  border-radius: 8rem;
  background: #000;
  color: #fff;
  font-family: audifont;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.87);
  }
  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.second-block__expand-icon {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  svg {
   height: 1.5rem !important;
   width: 1.5rem !important;
  }
  @media (max-width: 800px) {
    top: 0.7rem;
    right: 2rem;
  }
}

.expand-clickable {
  &:hover {
    cursor: pointer;
  }
  z-index: 20;
}

.second-block__aoutomobiles-menu {
  height: 10rem;
  width: 98%;
  background: #fff;
  position: absolute;
  z-index: 10;
  top: 0;
  margin-right: 1rem;
  border-radius: 24px;
  overflow: scroll;
  scrollbar-width: none;
  padding-bottom: 1rem;
  &::-webkit-scrollbar {
    display: none;
  }
  p {
    margin: 1rem 0 0 1.5rem;
    font-family: audifont;
    font-size: 0.9rem;
    &:hover {
      cursor: pointer;
      color: $base-red;
    }
  }
  @media (max-width: 800px) {
    p {
      font-size: 0.8rem;
    }
  }
}

.arrow-turned {
  transform: rotate(180deg);
  top: 1.5rem;
  right: 2rem;
}